[submodule "Flipper"]
	path = Flipper
	url = git@github.com:UberGuidoZ/Flipper.git
[submodule "Flipper-IRDB"]
	path = Flipper-IRDB
	url = git@github.com:UberGuidoZ/Flipper-IRDB.git
[submodule "Flipper-Zero-Sub-GHz-Jamming"]
	path = Flipper-Zero-Sub-GHz-Jamming
	url = git@github.com:SHUR1K-N/Flipper-Zero-Sub-GHz-Jamming.git
[submodule "flipperzero-bruteforce"]
	path = flipperzero-bruteforce
	url = https://github.com/tobiabocchi/flipperzero-bruteforce
